body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 50px;
    background-color: #f6ffff;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    display: flex;
    justify-content: center;
}

.listDiv {
    width: 90%;
}

.serviceListMain {
    width: 93%;
}

.itemRow {
    margin-right: 3px;
    border: 1px solid darkgrey;
    border-radius: 9px;
    padding: 3px;
    height: 59px;
    background-image: linear-gradient(to bottom right, #ffffff, #b6dee9);
    margin-bottom: 2px;
}

.itemRowStatus {
    margin-right: 3px;
    font-weight: bold;
    font-size: .8em;
    width: 50px;
    border: 1px solid darkgrey;
}
.serviceList {
    background-color: #cbf8f8;
    justify-content: center;
    width: 500px;
}

.textColumn {
    width: 64%;
    height: 20px;
    float: left;
    font-size: .8em;
    margin: 2px;
    align-content: center;
}

.buttonColumn {
    border: 1px solid #478080;
    height: 20px;
    float: left;
    margin-left: 3px;
    font-size: .8em
}

.addInput {
    width: 20%;
    font-size: 1.1em;
    background-color: white;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    margin-right: 3px;
    border: 1px dotted #8484b1;
    color: #282c34;
}

.addButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .9em;
}

.inputTitle {
    margin-right: 7px;
    font-size: medium;
}

.bolder {
    font-weight: bolder;
}
