body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 50px;
    background-color: #dcfdfd;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    display: flex;
    justify-content: center;
}

.listDiv {
    width: 90%;
}

.serviceListMain {
    width: 90%;
}

.itemRow {
    margin: 3px;
    border: 1px solid darkgrey;
}

.serviceList {
    background-color: #cbf8f8;
    justify-content: center;
    width: 500px;
}

.textColumn {
    width: 64%;
    height: 20px;
    float: left;
    font-size: .8em;
    margin: 2px;
    align-content: center;
}

.buttonColumn {
    border: 1px solid #478080;
    height: 20px;
    float: left;
    margin-left: 3px;
    font-size: .8em
}
